
@{
    ViewBag.Title = "ModuloConfiguracion";
    Layout = "~/Views/Shared/_LayoutConfig.cshtml";
}

<head>
    <title>Inicio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/ModuloConfiguracion/Dashboard.css" rel="stylesheet">
</head>

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-emoji-smile" style="background-color: #1e1e1e;"></i>
                    <span data-purecounter-start="0"
                          data-purecounter-end="100"
                          data-purecounter-legacy="true"
                          class="purecounter">
                        0
                    </span>
                    <p>Visitas a la aplicación</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class='bx bx-group' style="background-color: #1e1e1e;"></i>
                    <span data-purecounter-start="0" data-purecounter-end="7459" data-purecounter-duration="1" class="purecounter" style="color: black;">0</span>
                    <p>Usuarios activos</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class='bx bx-book-bookmark' style="background-color: #1e1e1e;"></i>
                    <span data-purecounter-start="0" data-purecounter-end="34002" data-purecounter-duration="1" class="purecounter" style="color: black;">0</span>
                    <p>Citas registradas</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class='bx bxs-baby-carriage' style="background-color: #1e1e1e;"></i>
                    <span data-purecounter-start="0" data-purecounter-end="7671" data-purecounter-duration="1" class="purecounter" style="color: black;">0</span>
                    <p>Bebés registrados</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->

<div class="accordion-container">
    <button class="accordion">Gestión de usuarios</button>
    <div class="panel">
        <p>
            Gestiona los usuarios de la aplicación de manera profesional y
            resuelve cualquier problema técnico que requieran mediante el
            sistema de gestión de usuarios.
        </p>
    </div>

    <button class="accordion">Historial de actividades</button>
    <div class="panel">
        <p>Visualiza las actividades mas recientes de los usuarios activos de la aplicación.</p>
    </div>

    <button class="accordion">Configuración</button>
    <div class="panel">
        <p>En esta opción se podrá configurar los días por inactividad, los intentos máximos permitidos antes de bloqueo de la aplicación 
        y ajustar la cantidad de fotos que el usuario puede subir.</p>
    </div>
    <button class="accordion">Creación de dietas</button>
    <div class="panel">
        <p>Crea las opciones alimentarias que pueda tener los bebés en esta opción.</p>
    </div>
</div>

<!-- Vendor JS Files -->
<script async src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>
<script src="../assets/js/AccordionDashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
<script>
    new PureCounter();
</script>
<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>
