
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Registro</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/styleAuth.css" rel="stylesheet">


</head>

<body>
    <form class="form" method="post" action="@Url.Action("Registro", "Acceso")">
        <p class="title">Registro </p>
        <p class="message">Regístrese y obtenga total acceso a las funcionalidades de la aplicación.</p>
        <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input" name="nombre">
                <span>Nombre</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input" name="apellido1">
                <span>Primer apellido</span>
            </label>
            <label>
                <input required="" placeholder="" type="text" class="input" name="apellido2">
                <span>Segundo apellido</span>
            </label>
        </div>

        <label>
            <input required="" placeholder="" type="email" class="input" name="correoE">
            <span>Correo</span>
        </label>
        <!-- Div de regulaciones de contraseña -->
        <div class="password-regulations">
            <div class="regulation-check">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkmark" viewBox="0 0 16 16" id="idCheckMarkEIGHT" style="color: green">
                    <path d="M11.646 3.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11.5 4.707 8.354 7.854a.5.5 0 0 1-.708-.708l3-3z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="crossmark" viewBox="0 0 16 16" id="idCrossMarkEIGHT" style="color: red">
                    <path fill-rule="evenodd" d="M1.646 0.646a.5.5 0 0 1 .708 0L8 6.293l5.646-5.647a.5.5 0 0 1 .708.708L8.707 7l5.647 5.646a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708L7.293 7 .646 1.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
                <span style="color: grey;">La contraseña debe tener al menos 8 caracteres</span>
            </div>
            <div class="regulation-check">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkmark" viewBox="0 0 16 16" id="idCheckMarkMINMAN" style="color: green">
                    <path d="M11.646 3.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11.5 4.707 8.354 7.854a.5.5 0 0 1-.708-.708l3-3z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="crossmark" viewBox="0 0 16 16" id="idCrossMarkMINMAN" style="color: red">
                    <path fill-rule="evenodd" d="M1.646 0.646a.5.5 0 0 1 .708 0L8 6.293l5.646-5.647a.5.5 0 0 1 .708.708L8.707 7l5.647 5.646a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708L7.293 7 .646 1.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
                <span style="color: grey;">La contraseña debe contener letras mayúsculas y minúsculas</span>
            </div>
            <div class="regulation-check">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkmark" viewBox="0 0 16 16" id="idCheckMarkESP" style="color: green">
                    <path d="M11.646 3.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11.5 4.707 8.354 7.854a.5.5 0 0 1-.708-.708l3-3z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="crossmark" viewBox="0 0 16 16" id="idCrossMarkESP" style="color: red">
                    <path fill-rule="evenodd" d="M1.646 0.646a.5.5 0 0 1 .708 0L8 6.293l5.646-5.647a.5.5 0 0 1 .708.708L8.707 7l5.647 5.646a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708L7.293 7 .646 1.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
                <span style="color: grey;">La contraseña debe contener al menos un carácter especial y al menos un número</span>
            </div>
        </div>
        <label>
            <input required="" placeholder="" type="password" name="password" class="input">
            <span>Clave</span>
        </label>
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Confirmar clave</span>
        </label>
        <button class="submit">Registrarme</button>
        <p class="loginIS">¿Ya tienes una cuenta? <a href="@Url.Action("Login", "Acceso")">Inicia Sesión</a> </p>

        @{
            if (ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }
        }
    </form>

    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/ValidacionPass.js"></script>
</body>

