
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Registro</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/styleAuth.css" rel="stylesheet">


</head>

<body>
    <form class="form">
        <p class="title">Registro </p>
        <p class="message">Regístrese y obtenga total acceso a las funcionalidades de la aplicación.</p>
        <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Nombre</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Apellidos</span>
            </label>
        </div>

        <label>
            <input required="" placeholder="" type="email" class="input">
            <span>Correo</span>
        </label>

        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Clave</span>
        </label>
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Confirmar clave</span>
        </label>
        <button class="submit">Registrarme</button>
        <p class="loginIS">¿Ya tienes una cuenta? <a href="@Url.Action("Login", "Acceso")">Inicia Sesión</a> </p>
    </form>

    <script src="../assets/js/main.js"></script>
</body>

