
@{
    ViewBag.Title = "BabyGaleria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/BabyGaleria.css">
    <title>Baby Galería</title>
</head>
<body>

    <div class="contenedor-botones">
        <h1>Baby Galería</h1>
        <button><b>Ultrasonidos</b></button>
        <button><b>Album por año</b></button>
        <button><b>Etapas de desarrollo</b></button>
        <img src="../assets/img/BabyGaleria/matriz.png" id="matriz">
        <img src="../assets/img/BabyGaleria/album-bebe.png" id="album">
        <img src="../assets/img/BabyGaleria/marioneta.png" id="marioneta">
        <p>
            <b>
                Cada etapa en la vida de tu bebé es emocionante y significativa.
                Con Baby Galería, ofrecemos la oportunidad de crear un álbum de
                fotos personalizado, diseñado específicamente para capturar y
                preservar esos maravillosos momentos que compartes con tu pequeño tesoro.
            </b>
        </p>
    </div>
    <div class="contenedor-imagen">
        <img class="img-fam" src="../assets/img/BabyGaleria/AlbumFamiliar.jpg">
        <div class="linea-arriba"></div>
        <div class="linea-izquierda"></div>
        <div class="linea-abajo-derecha"></div>
    </div>
    <img id="oso" src="../assets/img/BabyGaleria/oso-de-peluche.png">
    <img id="nube" src="../assets/img/BabyGaleria/nubes.png">
    <script src="../assets/js/main.js"></script>
</body>

