
@{
    ViewBag.Title = "Citas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="../assets/js/main.js"></script>
    <link rel="stylesheet" href="../assets/css/citas.css">
    <link href="../assets/css/style.css" rel="stylesheet">
</head>
<div class="body">
    <h1>Calendarización de Citas</h1>
    <div class="main">
        <div class="submain">
            <div class="contenedor1">
                <input type="text" class="input-item" placeholder="Escribir Título">
                <input type="text" class="input-item" placeholder="Escribir Descripción" id="desc">
            </div>
            <div class="contenedor2">
                <input type="date" class="input-item">
                <input type="time" class="input-item">
            </div>
        </div>
        <div class="submain2">
            <img src="../assets/img/CitasPage/agenda.png" alt="" class="deco">
            <button class="botongeneral">Agregar Cita</button>
        </div>
    </div>
    <div class="main2">
        <div class="cita">
            <div class="citainfo">
                <label for="">Titulo</label>
                <label for="">Descripción</label>
            </div>
            <div class="citainfo2">
                <label for="">20/06/2023</label>
                <label for="">15:00</label>
                <img src="../assets/img/CitasPage/avion.png" alt="">
            </div>
            <a href="" class="delete-button"><img src="../assets/img/CitasPage/delete.png" alt=""></a>
        </div>
    </div>
</div>
