
@{
    ViewBag.Title = "EtapasDesarrollo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/EtapasDesarrollo.css" rel="stylesheet" />
</head>

<h1 style="margin-top: 10%">Etapas de Desarrollo</h1>

<div class="izquierda">
    <h3>Recién nacido (0 a 1 mes):</h3>
    <ul class="etapas">
        <li>Durante el primer mes, los bebés están principalmente centrados en satisfacer sus necesidades básicas, como alimentarse, dormir y responder a estímulos sensoriales.</li>
        <li>Comienzan a desarrollar reflejos automáticos, como agarrar con fuerza, succionar y buscar el pecho de la madre para alimentarse.</li>
    </ul>
</div>

<div class="derecha">
    <h3>Bebé lactante (1 a 12 meses):</h3>
    <ul class="etapas">
        <li>Durante este período, los bebés experimentan un crecimiento y desarrollo rápido.</li>
        <li>Aprenden a levantar la cabeza, rodar, sentarse y eventualmente gatear.</li>
        <li>Comienzan a explorar el mundo a través de sus sentidos y manos.</li>
        <li>Desarrollan la coordinación mano-ojo y la capacidad de agarrar objetos con sus manos.</li>
        <li>A partir de los 6 meses, algunos bebés pueden empezar a introducir alimentos sólidos en su dieta.</li>
    </ul>
</div>

<div class="izquierda">
    <h3>Primer año (12 a 24 meses):</h3>
    <ul class="etapas">
        <li>Durante este período, los bebés experimentan un crecimiento y desarrollo rápido.</li>
        <li>Aprenden a levantar la cabeza, rodar, sentarse y eventualmente gatear.</li>
        <li>Comienzan a explorar el mundo a través de sus sentidos y manos.</li>
        <li>Desarrollan la coordinación mano-ojo y la capacidad de agarrar objetos con sus manos.</li>
        <li>A partir de los 6 meses, algunos bebés pueden empezar a introducir alimentos sólidos en su dieta.</li>
    </ul>
</div>

<div class="derecha">
    <h3>Primer año (12 a 24 meses):</h3>
    <ul class="etapas">
        <li>Los bebés en esta etapa comienzan a caminar y a hablar.</li>
        <li>Adquieren nuevas habilidades motoras finas y gruesas, como apilar bloques, usar una cuchara y colorear.</li>
        <li>Desarrollan una mayor independencia y capacidad de comunicarse a través de palabras y gestos.</li>
        <li>Empiezan a mostrar interés en interactuar con otros niños y pueden participar en juegos simples.</li>
    </ul>
</div>

<div class="izquierda">
    <h3>Etapa del "Yo" (2 a 3 años):</h3>
    <ul class="etapas">
        <li>Los niños en esta etapa desarrollan una mayor independencia y deseo de hacer las cosas por sí mismos.</li>
        <li>Aumenta su vocabulario y habilidades lingüísticas, y pueden formar oraciones más complejas.</li>
        <li>Experimentan el juego simbólico y empiezan a imitar a los adultos en sus actividades diarias.</li>
        <li>Pueden mostrar comportamientos de rabietas y frustración debido a sus desafíos emocionales y sociales.</li>
    </ul>
</div>

<div class="derecha">
    <h3>Etapa preescolar (3 a 5 años):</h3>
    <ul class="etapas">
        <li>Los niños se vuelven más sociables y pueden interactuar mejor con otros niños.</li>
        <li>Desarrollan habilidades cognitivas, como contar, reconocer colores y formas, y resolver problemas simples.</li>
        <li>Refuerzan su motricidad fina al dibujar, recortar y realizar actividades que requieren destreza manual.</li>
        <li>Empiezan a entender reglas y normas sociales básicas.</li>
        <li>Desarrollan un mayor sentido de sí mismos y comienzan a expresar sus emociones de manera más efectiva.</li>
    </ul>
</div>

<p>Cabe mencionar que cada niño se desarrolla de manera única y a su propio ritmo, por lo que es importante no compararlos con otros niños de su misma edad. Si tienes preocupaciones sobre el desarrollo de un niño, es siempre recomendable consultar a un profesional de la salud o pediatra.</p>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>