
@{
    ViewBag.Title = "NuevaAventura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/NuevaAventura.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <form id="formNA">
        <div class="agregar-aventura">
            <h4>Nueva Aventura</h4>
            <label class="lbltitulo">Titulo</label>
            <input name="txtTitulo" required maxlength="30" />
            <select name="slcTipoArchivo" class="tipo-archivo" required>
                <option disabled selected>Tipo de Archivo</option>
                <option value="Imagen">Imágen</option>
                <option value="Video">Video</option>
                <option value="Audio">Audio</option>
            </select>
            <div class="card">
                <div class="top">
                    <p>Drag & Drop image uploading</p>
                </div>
                <div class="drag-drop-container">
                    <span class="inner">Drag & Drop image here or</span>
                    <span class="select">Browse</span>
                    <input name="file" type="file" class="file" />
                </div>
                <div class="contenedor"></div>
            </div>
            <div class="info-categorias">
                <label class="lblalbum">Álbum de destino</label>
                <select name="slcAlbum" class="album-destino" required>
                    <option disabled selected>Seleccione un Álbum</option>
                    <option value="Ultrasonido">Ultrassonidos</option>
                    <option value="Album">Álbum por año</option>
                </select>
                <label class="lbletapa">Etapa de desarrollo</label>
                <select name="slcEtapa" class="etapa-desarrollo" required>
                    <option disabled selected>Seleccióne la etapa</option>
                    <option value="0-1">0 a 1 año</option>
                    <option value="2-3">2 a 3 años</option>
                    <option value="4-5">4 a 5 años</option>
                </select>
            </div>
            <button type="submit">Registrar Aventura</button>
            <img src="~/assets/img/BabyGaleria/oso-de-peluche.png" class="oso" />
        </div>
    </form>
    <div class="contenedor-cohete">
        <img src="~/assets/img/Alertas/cohete.png" class="cohete" />
        <img src="~/assets/img/NuevaAventura/drawn-dotted.png" class="flecha" />
    </div>
    <div class="decoracion">
        <img src="~/assets/img/NuevaAventura/album-de-fotos.png" class="album" />
        <div class="linea-arriba"></div>
        <img src="~/assets/img/NuevaAventura/Baño.jpg" class="bano" />
        <div class="linea-abajo"></div>
    </div>
    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <script src="~/assets/js/NuevaAventura.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#formNA").submit(function (e) {
            e.preventDefault(); // Evita la acción por defecto del formulario

            var formData = new FormData(this);
            console.log(formData);
            $.ajax({
                url: "@Url.Action("NuevaAventuraF", "Home")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#resultado").html(response);
                }
            });
        });
    });
    </script>
</body>