
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="../assets/css/perfil.css">
    <script src="../assets/js/main.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<div class="body">
    <div class="main">
        <h2>Bebé(s) asociado(s)</h2>
        <div class="bebe">
            <div class="bebes">
                <img src="../assets/img/PerfilPage/perfil.png" alt="" class="deco">
                <div class="infobebe">
                    <label for="">Nombre</label>
                    <label for="">Edad</label>
                    <label for="">Clave bebé</label>
                </div>
            </div>

            <div class="bebe2">
                <button class="botongeneral" id="registrarBebeBtn">Registrar bebé</button>
                o
                <div class="agregar">
                    <input type="text" class="input-item" placeholder="Ingrese clave bebé">
                    <button class="botongeneral">Confirmar</button>
                </div>
            </div>

            <!-- Modal de registro del bebé -->
            <div class="modal" id="registroBebeModal">
                <div class="modal-content">
                    <form action="/Home/Perfil" method="post">
                        <span class="close" id="closeModal">&times;</span>
                        <h2>Registrar bebé</h2>
                        <label for="idBebe">Identificación:</label>
                        <input type="text" id="idBebe" name="id" class="input-item" placeholder="Ingrese la identificación del bebé">
                        <button class="botongeneral" type="button" id="btnCargarDatos">Buscar Bebe</button>
                        <label for="nombreBebe">Nombre:</label>
                        <input type="text" id="nombreBebe" name="nom" class="input-item" placeholder="Ingrese el nombre del bebé">
                        <label for="apellido1Bebe">Apellido 1:</label>
                        <input type="text" id="apellido1Bebe" name="ape1" class="input-item" placeholder="Ingrese el primer apellido del bebé">
                        <label for="apellido2Bebe">Apellido 2:</label>
                        <input type="text" id="apellido2Bebe" name="ape2" class="input-item" placeholder="Ingrese el segundo apellido del bebé">
                        <label for="genero">Género:</label>
                        <select id="genero" class="input-item" name="gen">
                            <option value="True">Masculino</option>
                            <option value="False">Femenino</option>
                        </select>
                        <label for="FechaNacBebe">Fecha de Nacimiento (Opcional):</label>
                        <input type="date" id="FechaNacBebe" name="nac" class="input-item">
                        <label for="gestacion">Fecha de Gestación:</label>
                        <select id="gestacion" name="gest" class="input-item">
                            <option value="1">1 mes</option>
                            <option value="2">2 meses</option>
                        </select>
                        <button class="botongeneral" type="submit">Registrar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <img src="../assets/img/PerfilPage/familia.png" alt="" class="deco2">
    <div class="main2">
        <h2>Perfil</h2>
        <div class="perfil">
            <img src="../assets/img/PerfilPage/perfil.png" alt="" class="deco">

            <div class="infoperfil">
                <label for="">Nombre</label>
                <label for="">Apellidos</label>
                <label for="">Email</label>
            </div>
            <label for="" class="rol">Rol</label>

            <div class="botonperfil">
                <a class="botongeneral" href="@Url.Action("PerfilModificar", "Home")">Editar</a>
                <a class="botongeneral" href="@Url.Action("GestionFamilia", "Home")">Gestionar Familia</a>
            </div>
        </div>

    </div>
</div>

<!--script src="~/assets/js/Perfil.js"></!--script-->

<script>
    // Mostrar el modal de registro del bebé al hacer clic en el botón "Registrar bebé"
    document.getElementById('registrarBebeBtn').addEventListener('click', function () {
        document.getElementById('registroBebeModal').style.display = 'block';
    });

    // Ocultar el modal de registro del bebé al hacer clic en la "X" de cerrar
    document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('registroBebeModal').style.display = 'none';
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Asociar el botón al evento click y llamar a la función obtenerDetalleBebe con el valor del campo de bebé
        $('#btnCargarDatos').on('click', function () {
            var idBebe = $('#idBebe').val();
            obtenerDetalleBebe(idBebe);
        });
    });

    function obtenerDetalleBebe(idBebe) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DetalleBebe", "Home")',
            data: { idBebe: idBebe },
            success: function (data) {
                debugger;
                console.log(data);
                mostrarDetalleBebe(data);
            },
            error: function () {
                alert('Datos del bebe no encontrados.');
            }
        });
    }

    function mostrarDetalleBebe(data) {
        if (data && data.length > 0) {
            var usuario = data[0];
            $('#idUsuarioInput').val(usuario.IdUsuario);
            $('#nombreBebe').val(usuario.Nombre);
            $('#apellido1Bebe').val(usuario.Apellido1);
            $('#apellido2Bebe').val(usuario.Apellido2);
            $('#genero').val(usuario.Genero);
            $('#FechaNacBebe').val(usuario.FechaNacimiento);
        } else {
            limpiarCampos();
        }
    }

    function limpiarCampos() {
        $('#idBebe').val('');
        $('#nombreBebe').val('');
        $('#apellido1Bebe').val('');
        $('#apellido2Bebe').val('');
        $('#generoInput').val('');
        $('#FechaNacBebe').val('');
    };
</script>
