
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="../assets/css/perfil.css">
    <script src="../assets/js/main.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<div class="body">
    <div class="main">
        <h2>Bebé(s) asociado(s)</h2>
        <div class="bebe">
            <div class="bebes">
                <img src="../assets/img/PerfilPage/perfil.png" alt="" class="deco">
                <div class="infobebe">
                    <label for="">Nombre</label>
                    <label for="">Edad</label>
                    <label for="">Clave bebé</label>
                </div>
            </div>

            <div class="bebe2">
                <button class="botongeneral">Registrar bebé</button>
                o
                <div class="agregar">
                    <input type="text" class="input-item" placeholder="Ingrese clave bebé">
                    <button class="botongeneral">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <img src="../assets/img/PerfilPage/familia.png" alt="" class="deco2">
    <div class="main2">
        <h2>Perfil</h2>
        <div class="perfil">
            <img src="../assets/img/PerfilPage/perfil.png" alt="" class="deco">

            <div class="infoperfil">
                <label for="">Nombre</label>
                <label for="">Apellidos</label>
                <label for="">Email</label>
            </div>
            <label for="" class="rol">Rol</label>

            <div class="botonperfil">
                <button class="botongeneral">Editar</button>
                <button class="botongeneral">Gestionar Familia</button>
            </div>
        </div>

    </div>
</div>
