
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="../assets/css/perfil.css">
    <script src="../assets/js/main.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<div class="body">
    <div class="main">
        <h2>Bebé(s) asociado(s)</h2>
        <div class="bebe">
            <div class="bebes">
                <img src="../assets/img/PerfilPage/perfil.png" alt="" class="deco">
                <div class="infobebe">
                    <label for="">Nombre</label>
                    <label for="">Edad</label>
                    <label for="">Clave bebé</label>
                </div>
            </div>

            <div class="bebe2">
                <button class="botongeneral">Registrar bebé</button>
                o
                <div class="agregar">
                    <input type="text" class="input-item" placeholder="Ingrese clave bebé">
                    <button class="botongeneral">Confirmar</button>
                </div>
            </div>

            <!-- Modal de registro del bebé -->
            <div class="modal" id="registroBebeModal">
                <div class="modal-content">
                    <form action="/Home/Perfil" method="post">
                        <span class="close" id="closeModal">&times;</span>
                        <h2>Registrar bebé</h2>
                        <label for="nombreBebe">Nombre:</label>
                        <input type="text" id="nombreBebe" name="nom" class="input-item" placeholder="Ingrese el nombre del bebé">
                        <label for="apellido1Bebe">Apellido 1:</label>
                        <input type="text" id="apellido1Bebe" name="ape1" class="input-item" placeholder="Ingrese el primer apellido del bebé">
                        <label for="apellido2Bebe">Apellido 2:</label>
                        <input type="text" id="apellido2Bebe" name="ape2" class="input-item" placeholder="Ingrese el segundo apellido del bebé">
                        <label for="genero">Género:</label>
                        <select id="genero" class="input-item" name="gen">
                            <option value="1">Masculino</option>
                            <option value="0">Femenino</option>
                        </select>
                        <label for="edadBebe">Fecha de Nacimiento (Opcional):</label>
                        <input type="date" id="edadBebe" name="nac" class="input-item">
                        <label for="gestacion">Fecha de Gestación:</label>
                        <select id="gestacion" name="gest" class="input-item">
                            <option value="1">1 mes</option>
                            <option value="2">2 meses</option>
                        </select>
                        <button class="botongeneral" type="submit">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <img src="../assets/img/PerfilPage/familia.png" alt="" class="deco2">
    <div class="main2">
        <h2>Perfil</h2>
        <div class="perfil">
            <img src="../assets/img/PerfilPage/perfil.png" alt="" class="deco">

            <div class="infoperfil">
                <label for="">Nombre</label>
                <label for="">Apellidos</label>
                <label for="">Email</label>
            </div>
            <label for="" class="rol">Rol</label>

            <div class="botonperfil">
                <a class="botongeneral" href="@Url.Action("PerfilModificar", "Home")">Editar</a>
                <a class="botongeneral" href="@Url.Action("GestionFamilia", "Home")">Gestionar Familia</a>
            </div>
        </div>

    </div>
</div>
<script>
    // Mostrar el modal de registro del bebé al hacer clic en el botón "Registrar bebé"
    document.getElementById('registrarBebeBtn').addEventListener('click', function () {
        document.getElementById('registroBebeModal').style.display = 'block';
    });

    // Ocultar el modal de registro del bebé al hacer clic en la "X" de cerrar
    document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('registroBebeModal').style.display = 'none';
    });

</script>