
@{
    ViewBag.Title = "Preguntas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="../assets/css/preguntas.css">
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="contenedor">
            <img src="../assets/img/PreguntasPage/papalote.png" alt="">
            <h1>Preguntas con Expertos</h1>
            <input type="text" class="input-item" placeholder="Escribir Pregunta" id="miInput">
            <button class="botongeneral" id="miBoton">Buscar Pregunta</button>
            <div class="resp">
                <label for="">Respuesta</label>

                <label id="miLabel"></label>
            </div>
        </div>
        <div class="contenedor2">
            <h1>Preguntas frecuentes</h1>
            <button class="accordion">¿Cómo críar a mi bebé?</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Section 1</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <img src="../assets/img/PreguntasPage/carrusel.png" alt="">
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
    @*
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            // Asociar el evento click al botón
            $("#miBoton").click(function() {
                // Obtener el valor del input
                var textoInput = $("#miInput").val();

                // Realizar la petición AJAX al controlador con el valor del input
                $.ajax({
                    url: '@Url.Action("Resp", "Home")',
                    type: 'POST', // O 'GET' según corresponda
                    data: { inputText: textoInput }, // Enviar el valor del input en los datos de la petición
                    success: function(result) {
                        // Actualizar el contenido del label con la respuesta del controlador
                        $("#miLabel").text(result);
                    },
                    error: function(xhr, status, error) {
                        // Manejar errores aquí si es necesario
                        console.error(error);
                    }
                });
            });
        });
        </script>
    *@
    <script src="../assets/js/main.js"></script>
</body>

