
@{
    ViewBag.Title = "Preguntas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="../assets/css/preguntas.css">
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="contenedor">
            <img src="../assets/img/PreguntasPage/papalote.png" alt="">
            <h1>Preguntas con Expertos</h1>
            <input type="text" class="input-item" placeholder="Escribir Pregunta">
            <button class="botongeneral">Buscar Pregunta</button>
            <div class="resp">
                <label for="">Respuesta</label>
            </div>
        </div>
        <div class="contenedor2">
            <h1>Preguntas frecuentes</h1>
            <button class="accordion">¿Cómo críar a mi bebé?</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Section 1</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <img src="../assets/img/PreguntasPage/carrusel.png" alt="">
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
    <script src="../assets/js/main.js"></script>
</body>

