body {
    position: relative;
}

/*Contenedor de Agregar Aventura*/
.agregar-aventura {
    border: 2px dashed #00DDBD;
    border-radius: 15px;
    width: 40%;
    height: auto;
    margin-top: 150px;
    margin-left: 50px;
}
/*Estilo del Drag & Drop*/
.card {
    width: 80%;
    height: auto;
    padding: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background: #fafbff;
    margin: 5%;
    margin-left: 10%;
}

    .card .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

        .card .top p {
            font-size: 0.9rem;
            font-weight: 600;
            color: #00DDBD;
        }

.drag-drop-container {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 2px dashed #d5d5e1;
    color: #c8c9dd;
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    background: #dfe3f259;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-top: 20px;
}

    .drag-drop-container .select {
        color: #00DDBD;
        margin-left: 7px;
        cursor: pointer;
    }

    .drag-drop-container input {
        display: none;
    }

    .drag-drop-container.dragover {
        border-style: solid;
        font-size: 20px;
        color: #c8c9dd;
        font-weight: 600;
        background: rgb(0, 0, 0, 0.34);
    }

.contenedor {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    height: auto;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

    .contenedor .img {
        height: 85px;
        width: 85px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgb(0, 0, 0, 0.15);
        overflow: hidden;
        position: relative;
        margin-bottom: 7px;
        margin-right: 7px;
    }

        .contenedor .img:nth-child(4n) {
            margin-right: 0;
        }

        .contenedor .img img {
            height: 100%;
            width: auto;
        }

        .contenedor .img span {
            position: absolute;
            top: -4px;
            right: 5px;
            cursor: pointer;
            font-size: 22px;
            color: #fff;
        }

            .contenedor .img span:hover {
                opacity: 0.8;
            }

.agregar-aventura h4 {
    background-color: #97fbed;
    border-radius: 10px;
    width: 80%;
    padding: 5px;
    padding-left: 20px;
    color: #426E77;
    font-weight: bold;
    margin: 10px;
    margin-left: 10%;
    margin-bottom: 30px;
}

.agregar-aventura label {
    position: absolute;
}

.agregar-aventura .lbltitulo {
    background-color: white;
    margin-left: 70px;
    padding-left: 5px;
    padding-right: 10px;
}

.agregar-aventura input {
    border: 2px solid #00DDBD;
    border-radius: 5px;
    min-width: 295px;
    margin-top: 20px;
    margin-left: 60px;
}

.agregar-aventura select {
    border: 2px solid #00DDBD;
    border-radius: 5px;
    width: 170px;
    height: 30px;
}

.agregar-aventura .tipo-archivo {
    margin-left: 20px;
}

.info-categorias {
    position: relative;
    margin-top: -30px;
    margin-left: 50px;
}

    .info-categorias .lblalbum {
        top: 20px;
        left: 15px;
    }

    .info-categorias .album-destino {
        margin-top: 50px;
        margin-left: 10px;
    }

    .info-categorias .lbletapa {
        top: 20px;
        left: 210px;
    }

    .info-categorias .etapa-desarrollo {
        margin-top: 50px;
        margin-left: 20px;
    }

.agregar-aventura button {
    background-color: #6CA5B1;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 32%;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}

.agregar-aventura .oso {
    width: 100px;
    margin-top: -100px;
    margin-left: 50px;
}

.decoracion {
    margin-top: -520px;
    margin-left: 950px;
    width: 500px;
}

    .decoracion .album {
        width: 70px;
        margin-left: 430px;
    }

    .decoracion .bano {
        width: 500px;
        margin-top: 25px;
    }

    .decoracion .linea-arriba {
        border: 2px dashed #00826F;
        width: 310px;
        margin-top: -20px;
        margin-left: 100px;
    }

    .decoracion .linea-abajo {
        border: 2px dashed #00826F;
        width: 310px;
        margin-top: 15px;
    }

.contenedor-cohete {
    margin-top: -300px;
    margin-left: 47%;
}

    .contenedor-cohete .cohete {
        margin-top: -550px;        
        width: 200px;
    }

    .contenedor-cohete .flecha {
        width: 150px;
        margin-left: -210px;
        transform: rotate(-15deg);
    }

/*------------------------------- Responsive -------------------------------*/

@media screen and (max-width: 480px) {
    /*Contenedor de Agregar Aventura*/
    .agregar-aventura {
        border: 2px dashed #00DDBD;
        border-radius: 15px;
        width: 80%;
        height: auto;
    }

        .agregar-aventura label {
            position: absolute;
        }

        .agregar-aventura .lbltitulo {
            background-color: white;            
            margin-left: 50px;
            padding-left: 5px;
            padding-right: 10px;
        }

        .agregar-aventura input {
            border: 2px solid #00DDBD;
            border-radius: 5px;
            min-width: 80%;
            margin-top: 20px;
            margin-left: 10%;
        }

        .agregar-aventura select {
            border: 2px solid #00DDBD;
            border-radius: 5px;
            width: 170px;
            height: 30px;
        }

        .agregar-aventura .tipo-archivo {
            margin-top:20px;
            margin-left: 32px;
        }

    .info-categorias {
        position: relative;
        margin-top: 0;
        margin-left: 30px;
    }

        .info-categorias .lblalbum {
            top: 20px;
            left: 15px;
        }

        .info-categorias .album-destino {
            margin-top: 50px;
            margin-left: 10px;
        }

        .info-categorias .lbletapa {
            top: 100px;
            left: 15px;
        }

        .info-categorias .etapa-desarrollo {
            margin-top: 50px;
            left: 0;
        }

    .agregar-aventura button {
        background-color: #6CA5B1;
        border: none;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 15%;
        padding: 5px;
        padding-left: 40px;
        padding-right: 40px;
        color: white;
    }

    .agregar-aventura .oso {
        display: none;
    }

    .decoracion {
        display:none;
    }

    .contenedor-cohete {
        display: none;
    }
}