* {
    margin: 0;
    padding: 0;
    color: #6CA5B1;
  }
  
  body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #00DDBD;
    border-radius: 5px;
  }
  
  .body{
    margin-top: 10%;
  }
  .botongeneral {
    border-radius: 5px;
    background: #00DDBD;
    color: white;
    font-family: Daniel Black;
    border: none;
    padding: 1%;
    width: 30%;
}
button:hover {
    background-color: white;
    color: #00DDBD;
}
.input-item {
    padding-left: 10px;
    font-size: 20px;
    width: 100%;
    height: 43px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #6CA5B1;
    margin: 2%;
}

.deco{
    width: 200px;
    margin: 4%;
    margin-left: 10%;
    height: 50%;
}

.main{
    width: 100%;
    padding: 3%;
    background-color: #89C0CF;
}
.main h2{
    color: white;
    justify-content: center;
    display: flex;
}
.perfiles{
    display: flex;
    flex-direction: row;
}
.perfil1{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 17%;
    margin-top: 3%;
}
.perfil2{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.main2{
    width: 100%;
    padding: 3%;
    background-color: rgba(0, 221, 189, 0.32);
}
.main2 h2{
    color:#00DDBD;
    justify-content: center;
    display: flex;
}

.perfil{
    display: flex;
    flex-direction: row;
}
.infoperfil1{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.infoperfil2{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.perfil2 button{
    width: 230px;
    height: 30px;
    margin: 3%;
}
.rol{
    border-radius: 20px;
    border: 3px solid #00DDBD;
    color: #00DDBD;
    margin-left: 50%;
    margin-bottom: 10%;
    height: 40px;
    padding: 3%;
    width: 25%;
    
}
.deco2{
    height: 300px;
    position: absolute;
    top: 220px;
    right: 20px;
}
.agregar{
    display: flex;
    flex-direction: row;
    margin: 5%;
}
.agregar button{
    margin: 0;
    margin-left: 2%;
}
.bebe2{
    margin-right: 30%;
}

@media screen and (max-width:1000px){
    .deco2{
        display: none;
    }
}

@media screen and (max-width:700px){
    .deco3{
        display: none;
    }
    .body{
        margin-top: 30%;
    }
    .perfil{
        flex-direction: column;
    }
    .rol{
        width: 70px;
        height: 50px;
        padding: 5%;
        margin-left: 45%;
    }
    .infoperfil1{
        margin-left: 10%;
    }
    .perfiles {
        flex-direction: column;
    }
    .perfil2 {
        margin-left: 17%;
    }
}